<div>
  <label> Form Control email :
    <input [class.invalid]="isInvalidEmail()" type="email" [formControl]="email">
  </label>
  <p>Value : {{ email.value }}</p>
  <p>Valid : {{ email.valid }}</p>
  <p>Touched : {{ !email.untouched }}</p>
  <p>Dirty :{{ email.dirty}}</p>
  @if (isInvalidEmail()){
    <p [style.color]="'red'">Valeur invalide</p>
  }
  <label> Form Control Mot de passe :
    <input [class.invalid]="isInvalidPassword()"  type="password" [formControl]="password">
  </label>
  <p>Value : {{ password.value }}</p>
  <p>Valid : {{ password.valid }}</p>
  @if (isInvalidPassword()){
    <p [style.color]="'red'">Valeur invalide</p>
  }
</div>
