<form (submit)="onSubmit()" [formGroup]="form">
  <label> Username :
    <input [class.invalid]="isInvalid('username')" formControlName="username" type="text">
    @if (form.get ( 'username' ); as username) {
      @if ((username.touched || username.dirty) && username.invalid) {
        <p>Username required</p>
      }
    }

  </label>
  <label> Email :
    <input [class.invalid]="isInvalid('email')" formControlName="email" type="email">
    @if (form.get ( 'email' ); as email) {
      @if ((email.touched || email.dirty) && email.invalid) {
        <p>Email required</p>
      }
    }
  </label>
  <label> Password :
    <input [class.invalid]="isInvalid('password')" formControlName="password" type="password">
  </label>
  <label> Confirm Password :
    <input [formControl]="confirmPasswordControl" type="password">
  </label>
  <ul class="actions">
    <li>
      <button class="button" type="submit">Send</button>
    </li>
    <li>
      <button class="button" type="reset">Reset</button>
    </li>
  </ul>
</form>
